@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
}

.form__containe {
    width: 347px;
    height: 100%;
    background-color: #FFFFFF;
    border-radius: 4px;
    position: relative;
    top: 135px;
    left: 0px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 4px 32px -12px rgb(0 0 0 / 25%);
}
.form__containe span{
    color: #868E96;
}
.form__containe-descript{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    position: relative;
    left: 12px;

}
.form__containe-descript p{
    margin: 10px 0 15px 0
}
.form__containe-descript span{
    margin: 10px 0 0 0
}

.form__containe-descript input{
    width: 314px;
    height: 48px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
}
.form__containe-descript input::placeholder{
    position: relative;
    left: 16px;
}



.form__containe-option{
    display: flex;
    justify-content: space-evenly;
}
.form__containe-option p{
    position: relative;
    bottom: 10px;
}


.form__containe-value input{
    width: 128px;
    height: 48px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
    
}
.form__containe-value input::placeholder{
    position: relative;
    left: 16px;
    
}


.form__containe-value p{
    position: relative;
    bottom: 10px;
}

.form__containe-select select{
    width: 150px;
    height: 48px;
    background-color: #F8F9FA;
    border: none;
    border-radius: 8px;
    color: #868E96;
    padding-left: 16px;
}


.btn-container{
    width: 314px;
    height: 48px;
    background-color: #FD377E;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    position: relative;
    left: 12px;
    bottom: 10px;
}
.btn-container:hover{
    background-color: #E34981;
}

.valorTotal {
    font-family: 'Nunito', sans-serif;
    width: 347px;
    height: 68px;
    background-color: #E34981;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    position: relative;
    left: 4px;
    top: 145px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.valorTotal p{
    position: relative;
    top: 28px;
}

.paragrafo-texto{
    position: relative;
    left: 16px;

}
.paragrafo-valor{
    position: relative;
    right: 16px;
}
.container-main{
    margin-top: -490px;
}

@media (max-width:350px) {
    .form__containe{
       width: 290px;
    }
    .form__containe-descript input {
        width: 265px;
    }
    .btn-container {
        width: 265px;
    }
    .valorTotal {
        width: 280px;
        margin-bottom: 120px;
    }
    .container-main{
        margin-top: -370px;
    }
}

@media (min-width: 700px){

    .form__containe{
        width:363px;
        height: 351px;
        background-color:  #FFFFFF;
        border-radius: 4px;
        position: relative;
        font-weight: 400;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
        left: 0px;

        
    }
    .valorTotal{
        font-family: 'Nunito', sans-serif;
        width: 363px;
        height: 68px;
        background-color:#E34981 ;
        border-radius: 8px;
        border: none;
        color: #FFFFFF;
        margin-bottom: 60px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 120px;
        margin-top:40px;
    }
    .container-main{
        margin-top: -220px;
    }

}

@media (min-width:768px){
    .form__containe {
        width: 270px;
    }
    .form__containe-descript input {
        width: 244px;
    }
    .form__containe-value input {
        width: 114px;
    }
    .form__containe-select select {
        width: 114px;
    }
    .btn-container {
        width: 244px;
    }
    .valorTotal {
        width: 255px;
    }

    .container-main{
        margin-top: -100px;
    }

}