@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
.container__btn {
    display: flex;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    height: 40px;
    width: 273px;
    display: flex;
    position: relative;
    top: 77px;
    left: 36px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 58px;

}
.container__btn h2{
    margin: 10px 0 10px 0;

}
.btn__entrada{
    width: 87px;
    height: 40px;
    background-color: #E9ECEF;
    color: #868E96;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    margin-right: 10px;
}
.btn__entrada:hover{
    background-color: #868E96;   
    color: #F8F9FA; 
}
.btn__entrada:active{
    background-color: #FD377E;
    color: #FFFFFF;

}


.btn__despesa{
    width: 92px;
    height: 40px;
    background-color: #E9ECEF;
    color: #868E96;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;

}
.btn__despesa:hover{
    background-color: #868E96;   
    color: #F8F9FA; 
}
.btn__despesa:active{
    background-color: #FD377E;
    color: #FFFFFF;
}

.btn__todos{
    width: 69px;
    height: 40px;
    background-color: #FD377E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 10px;
    margin-right: 10px;
}
.li__right{

    position: relative;
    right: 0px;
}
.li__right h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    position: relative;
    bottom: 15px;
}
.li__right p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #868E96;
    position: relative;
    top: 10px;
    
}



.li__left{
    display: flex;
    position: relative; 
    left: 0px; 
    align-content: space-between;
    align-items: baseline;

}

.container__list--item--entrada {
    background-color: #F8F9FA;
    position: relative;
    top: 70px;
    left: 1px;
    margin-bottom: 25px;
    border: none;
    border-radius: 4px;
    border-left: 4px solid #03B898;
    width: 334px;
    height: 87px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__list--item--entrada:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);

} .container__list--item--saida{
    background-color: #F8F9FA;
    position: relative;
    top: 70px;
    left: 1px;
    margin-bottom: 25px;
    border: none;
    border-radius: 4px;
    border-left: 4px solid #E9ECEF;
    width: 334px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container__list--item--saida:hover{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 42px -12px rgba(0, 0, 0, 0.25);

}
.btn--excluir{
    width: 22px;
    height: 22px;
    border: none;
    border-radius: 3px;
    background-color: #E9ECEF;
    color: #868E96;
    align-items: center;
    display: flex;
}
.btn--excluir:hover{
    background-color: #868E96;
    color: #E9ECEF;

}
@media (max-width:350px) {
    .container__btn {
        left: 6px;
    }
   
    .container__list--item--entrada {
        width: 280px;
    }
    .container__list--item--saida {
        width: 280px;
    }
}

@media (min-width: 700px){
    .container__list--item--entrada{
        background-color: #F8F9FA;
        position: relative;
        top: 70px;
        left: 41px;
        margin-bottom: 25px;
        border: none;
        border-radius: 4px;
        border-left: 4px solid #03B898;
        width: 560px;
        height: 87px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .container__list--item--saida{
        background-color: #F8F9FA;
        position: relative;
        top: 70px;
        left: 41px;
        margin-bottom: 25px;
        border: none;
        border-radius: 4px;
        border-left: 4px solid #E9ECEF;
        width: 560px;
        height: 87px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .li__right{

        position: relative;
        right: 62px;
    }
    .container__btn{
        height: 40px;
        width: 560px;
        display: flex;
        position: relative;
        top: 42px;
        left: 41px;
        justify-content: space-between;
        align-items: center;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 16px;
        flex-direction: row;
        padding-bottom: 0px;
    }
    .li__left{
        display: flex;
        position: relative;
        left: 63px;
        align-content: space-between;
        align-items: baseline;
        width: 28%;
        justify-content: space-between;
    
    }
}
@media (min-width:768px){
    .container__btn { 
        width: 405px;
    }
    .container__list--item--entrada {
        width: 390px;
        justify-content: center;
    }
    .container__list--item--saida {
        width:390px ;
        justify-content: center;
    }

}